<div class="container-fluid">
    <div id="Inicio" class="row align-items-center hero scroll_section">
        <div class="col-lg-3 offset-lg-2">
            <p>Rosario, Santa Fe</p>
            <h1>Karting Racing</h1>
            <p>Vive la emoción de las carreras en nuestro circuito de karting indoor!</p>
        </div>
    </div>
</div>
<div class="row my-3">
    <div id="categorias" class="col-md-5 offset-md-2 py-3 scroll_section">
        <h2>Novedades</h2>
        <ul class="lista-novedades">
            {{#each novedades}}
            <li>
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#Modal{{id}}"><img
                        src="{{imagen}}">{{titulo}}</a>
            </li>
            {{/each}}
        </ul>
    </div>

    {{#each novedades}}
    <div class="modal fade" id="Modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="model-title" id="exampleModalLabel">{{titulo}}</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>{{subtitulo}}</h3>
                    <img src="{{imagen}}" width="465" height="300" />
                    <p>{{cuerpo}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    <div class="col-md-3 my-3">
        <div class="rounded py-5 testimonios">
            <h2 class="text-center"> Testimonios</h2>
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonio">
                            <h5>Los mejores kartings de la provincia!</h5>
                            <p>Francisco, 35 años</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>Son muy rapidos!</h5>
                            <p>Mateo, 12 años</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>Para compartir con amigos!</h5>
                            <p>Juana, 18 años</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div id="historia" class="row align-items-center py-4">
        <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
            <img src="images/historia1.jpeg" alt="historia 1" class="img-fluid">
        </div>
        <div class="col-lg-2 col-md-3 d-none d-sm-block">
            <img src="images/historia2.jpeg" alt="historia 2" class="img-fluid">
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
            <h2>Historia</h2>
            <p>Desde sus inicios en 1968, nuestro karting indoor ha evolucionado, ofreciendo tecnología de punta y
                adrenalina pura para apasionados de la velocidad de todas las edades.</p>
        </div>
    </div>
    <div id="nosotros" class="row align-items-stretch my-3 staff py-4 scroll_section">
        <div class="col-lg-8 offset-lg-2">
            <h2>Nosotros</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card">
                        <img src="images/nosotros1.jpeg" alt="nosotros1" class="card-img-top">
                        <div class="card-body">
                            <h5>Franco Fritzler</h5>
                            <p>Actual piloto del TC Pista, con 20 años de experiencia
                                en karting
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/nosotros2.jpeg" alt="nosotros2" class="card-img-top">
                        <div class="card-body">
                            <h5>Ana Di Lella</h5>
                            <p>Actual piloto de Karting Rotax 125 Argentino</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/nosotros3.jpeg" alt="nosotros3" class="card-img-top">
                        <div class="card-body">
                            <h5>Nicole Franchini</h5>
                            <p>Licenciada en Administracion de Empresas</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="images/nosotros5.jpeg" alt="nosotros5" class="card-img-top">
                        <div class="card-body">
                            <h5>Nicolas Macari</h5>
                            <p>Ingeniero Mecanico</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="conocenos" class="row py-8 scroll_section">
        <div class="col-md-4 offset-md-2">
            <h2>Visitanos</h2>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3346.1951698192047!2d-60.6763592!3d-32.9986296!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7abf60a995aad%3A0xfcbc319555b2e134!2sRosario%20Indoor%20kart!5e0!3m2!1ses!2sar!4v1735670210183!5m2!1ses!2sar"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-4 px-4" id="formulario">
            <h2>Para contactarnos:</h2>
            <form action="/" method="post" class="formulario"> 
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mensaje</label>
                    <input class="form-control" id="exampleInputPassword1" name="mensaje">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {{message}}
        </div>
    </div>